*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
body{background-image: url(imagesJS/12.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


.header{
	

}





.container ul{

}